<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="bg-gray-50" data-controller="stripe-elements">
  <div class="max-w-2xl mx-auto pt-16 pb-24 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Checkout</h2>

    <div class="lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16">
      <div class="mt-10 lg:mt-0">
        <!-- Payment -->
        <h2 class="text-lg font-medium text-gray-900">Payment</h2>

        <%=
          stripe_elements_tag(
            submit_path: reservation_payments_path(
              property_id: @property.id,
              user_id: current_user.id,
              checkin_date: @checkin_date,
              checkout_date: @checkout_date,
              subtotal: @subtotal,
              cleaning_fee: @cleaning_fee,
              service_fee: @service_fee,
              total: @total
            )
          )
        %>
      </div>

      <!-- Reservation Details -->
      <div class="mt-10 lg:mt-0">
        <h2 class="text-lg font-medium text-gray-900">Your Reservation</h2>

        <div class="mt-4 bg-white border border-gray-200 rounded-lg shadow-sm">
          <h3 class="sr-only">Items in your cart</h3>

          <dl class="border-t border-gray-200 py-6 px-4 space-y-6 sm:px-6">
            <div class="flex items-center justify-between">
              <dt class="text-sm">Check in</dt>
              <dd class="text-sm font-medium text-gray-900"><%= @checkin_date %></dd>
            </div>
            <div class="flex items-center justify-between">
              <dt class="text-sm">Check out</dt>
              <dd class="text-sm font-medium text-gray-900"><%= @checkout_date %></dd>
            </div>
            <div class="flex items-center justify-between">
              <dt class="text-sm"><%= humanized_money_with_symbol(@property.price) %> x <%= Date.strptime(@checkout_date, Date::DATE_FORMATS[:us_short_date]).mjd - Date.strptime(@checkin_date, Date::DATE_FORMATS[:us_short_date]).mjd %> nights</dt>
              <dd class="text-sm font-medium text-gray-900">$<%= @subtotal %></dd>
            </div>
            <div class="flex items-center justify-between">
              <dt class="text-sm">Cleaning fee</dt>
              <dd class="text-sm font-medium text-gray-900">$<%= @cleaning_fee %></dd>
            </div>
            <div class="flex items-center justify-between">
              <dt class="text-sm">Service fee</dt>
              <dd class="text-sm font-medium text-gray-900">$<%= @service_fee %></dd>
            </div>
            <div class="flex items-center justify-between border-t border-gray-200 pt-6">
              <dt class="text-base font-medium">Total</dt>
              <dd class="text-base font-medium text-gray-900">$<%= @total %></dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
